---
import { normalizeLang, siteCopy, type SiteLang } from "../i18n/site";

const lang = normalizeLang(Astro.props.lang as SiteLang);
const copy = siteCopy[lang].about;
const { contactForm } = siteCopy[lang];
---

<section class="about-me" id="kimjestem" data-astro-cid-v2cbyr3p="">
    <div class="container" data-astro-cid-v2cbyr3p="">
        <h2 data-astro-cid-v2cbyr3p="">{copy.title}</h2>
        <div class="wrapper" data-astro-cid-v2cbyr3p="">
            <div class="image-wrapper" data-astro-cid-v2cbyr3p=""> <img src="/panikwiat.jpg" decoding="async"
                    loading="lazy" alt="" data-astro-cid-v2cbyr3p="" width="800" height="800"> </div>
            <div class="text-wrapper" data-astro-cid-v2cbyr3p="">
                <h3 data-astro-cid-v2cbyr3p="">{copy.heading}</h3>
                {copy.paragraphs.map((paragraph) => (
                    <p data-astro-cid-v2cbyr3p="">{paragraph}</p>
                ))} <button class="btn btn-white" onclick="window.kontaktowy1.showModal()"
                    data-astro-cid-fziqq5va="">{copy.contactCta}</button>
                <dialog id="kontaktowy1" data-astro-cid-fziqq5va="">
                    <div data-astro-cid-v2cbyr3p="">
                        <div class="wrapper-form" data-astro-cid-v2cbyr3p="">
                            <div class="phone-wrapper" data-astro-cid-v2cbyr3p="">
                                <h3 data-astro-cid-v2cbyr3p="">{contactForm.phoneHeading}</h3>
                                <hr data-astro-cid-v2cbyr3p=""> <a href="tel:+48501744994" class="phone"
                                    data-astro-cid-v2cbyr3p=""> <svg xmlns="http://www.w3.org/2000/svg" width="42"
                                        height="42" viewBox="0 0 42 42" fill="white" data-astro-cid-v2cbyr3p="">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 6C0 4.4087 0.632141 2.88258 1.75736 1.75736C2.88258 0.632141 4.4087 0 6 0H8.744C10.464 0 11.964 1.172 12.382 2.84L14.592 11.686C14.7711 12.402 14.7349 13.1549 14.488 13.8504C14.2411 14.546 13.7945 15.1532 13.204 15.596L10.618 17.536C10.348 17.738 10.29 18.034 10.366 18.24C11.4948 21.3097 13.2772 24.0974 15.5899 26.4101C17.9026 28.7228 20.6903 30.5052 23.76 31.634C23.966 31.71 24.26 31.652 24.464 31.382L26.404 28.796C26.8468 28.2055 27.454 27.7589 28.1496 27.512C28.8451 27.2651 29.598 27.2289 30.314 27.408L39.16 29.618C40.828 30.036 42 31.536 42 33.258V36C42 37.5913 41.3679 39.1174 40.2426 40.2426C39.1174 41.3679 37.5913 42 36 42H31.5C14.104 42 0 27.896 0 10.5V6Z"
                                            fill="#FFF" data-astro-cid-v2cbyr3p=""></path>
                                    </svg>
                                    <span data-astro-cid-v2cbyr3p="">
                                        {contactForm.phoneCta}
                                    </span> </a>
                            </div>
                            <div class="form-wrapper" data-astro-cid-v2cbyr3p="">
                                <h3 data-astro-cid-v2cbyr3p="">{contactForm.formHeading}</h3>
                                <form target="_blank" action="https://formsubmit.co/panikwiat@gmail.com" method="POST"
                                    data-astro-reload="" data-astro-cid-v2cbyr3p="">
                                    <div class="form-group" data-astro-cid-v2cbyr3p="">
                                        <div class="form-row" data-astro-cid-v2cbyr3p="">
                                            <div class="col" data-astro-cid-v2cbyr3p=""> <label
                                                    data-astro-cid-v2cbyr3p="">{contactForm.nameLabel}</label> <input
                                                    type="text" name="name" class="form-control"
                                                    placeholder={contactForm.namePlaceholder} required=""
                                                    data-astro-cid-v2cbyr3p=""> </div>
                                            <div class="col" data-astro-cid-v2cbyr3p=""> <label
                                                    data-astro-cid-v2cbyr3p="">{contactForm.phoneLabel}</label> <input
                                                    type="text" name="name" class="form-control"
                                                    placeholder={contactForm.phonePlaceholder} required=""
                                                    data-astro-cid-v2cbyr3p=""> </div>
                                            <div class="col" data-astro-cid-v2cbyr3p=""> <label
                                                    data-astro-cid-v2cbyr3p="">{contactForm.emailLabel}</label> <input
                                                    type="email" name="email" class="form-control"
                                                    placeholder={contactForm.emailPlaceholder} required=""
                                                    data-astro-cid-v2cbyr3p=""> </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-astro-cid-v2cbyr3p=""> <label
                                            data-astro-cid-v2cbyr3p="">{contactForm.messageLabel}</label>
                                        <textarea placeholder={contactForm.messagePlaceholder} class="form-control" name="Wiadomość: *" rows="6" required=""
                                            data-astro-cid-v2cbyr3p=""></textarea>
                                    </div> <input type="text" name="_honey" style="display:none"
                                        data-astro-cid-v2cbyr3p=""> <input type="hidden" name="_next"
                                        value="https://panikwiat.pl" data-astro-cid-v2cbyr3p=""> <input
                                        type="hidden" name="_captcha" value="false" data-astro-cid-v2cbyr3p="">
                                    <div class="btn-form-wrapper" data-astro-cid-v2cbyr3p="">
                                        <div data-astro-cid-v2cbyr3p=""> <input type="checkbox" id="rodo"
                                                name="rodo" value="Boat" data-astro-cid-v2cbyr3p=""> <label
                                                for="rodo" data-astro-cid-v2cbyr3p="">{contactForm.consent}</label> </div> <button type="submit"
                                            class="btn btn-primary" data-astro-cid-v2cbyr3p="">{contactForm.submit}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <form method="dialog" data-astro-cid-fziqq5va=""> <button class="close-button-form"
                            data-astro-cid-v2cbyr3p="">X</button> </form>
                </dialog>
            </div>
        </div>
    </div>
</section>
