---
import { normalizeLang, siteCopy, type SiteLang } from "../i18n/site";

const lang = normalizeLang(Astro.props.lang as SiteLang);
const copy = siteCopy[lang];
const basePath = Astro.url.pathname.replace(/^\/(en|de)(?=\/|$)/, "") || "/";
const prefix = lang === "pl" ? "" : `/${lang}`;
const onPricing = basePath.startsWith("/cennik");
const footerLinks = copy.nav.links.map((link) => {
    const href = link.href.includes("#dekoracje") && onPricing ? "#dekoracje" : link.href;
    const finalHref =
        href === "/cennik" ? `${prefix}/cennik` : href.startsWith("/#") ? `${prefix}${href}` : href;
    return { ...link, href: finalHref };
});
---

<footer id="footer" data-astro-cid-sz7xmlte="">
    <div class="container" data-astro-cid-sz7xmlte="">
        <div class="wrapper" data-astro-cid-sz7xmlte="">
            <div class="info-wrapper" data-astro-cid-sz7xmlte="">
                <div class="info-wrapper-container" data-astro-cid-sz7xmlte=""> 
                  <svg xmlns="http://www.w3.org/2000/svg"
                        width="197" height="61" viewBox="0 0 197 61" fill="none" data-astro-cid-sz7xmlte="">
                        <path d="M103.732 0.454102V16.699H101.798V0.454102H103.732Z" fill="white"
                            data-astro-cid-sz7xmlte=""></path>
                        <path
                            d="M97.9283 0.454102V16.699H96.0564L87.352 3.94422H87.196V16.699H85.2617V0.454102H87.1336L95.8692 13.2406H96.0252V0.454102H97.9283Z"
                            fill="white" data-astro-cid-sz7xmlte=""></path>
                        <path
                            d="M71.0738 16.699H69.0459L74.9112 0.454102H76.9079L82.7732 16.699H80.7453L75.9719 3.02409H75.8471L71.0738 16.699ZM71.8226 10.3533H79.9965V12.0984H71.8226V10.3533Z"
                            fill="white" data-astro-cid-sz7xmlte=""></path>
                        <path
                            d="M58.1084 16.699V0.454102H63.5057C64.7589 0.454102 65.7832 0.684132 66.5788 1.14419C67.3795 1.59897 67.9723 2.21502 68.3571 2.99237C68.7418 3.76971 68.9342 4.63695 68.9342 5.59409C68.9342 6.55123 68.7418 7.42111 68.3571 8.20374C67.9775 8.98637 67.3899 9.61036 66.5944 10.0757C65.7988 10.5358 64.7797 10.7658 63.5369 10.7658H59.6683V9.02075H63.4745C64.3325 9.02075 65.0214 8.87004 65.5414 8.56862C66.0614 8.2672 66.4384 7.86002 66.6724 7.34708C66.9115 6.82885 67.0311 6.24452 67.0311 5.59409C67.0311 4.94366 66.9115 4.36197 66.6724 3.84903C66.4384 3.33609 66.0588 2.9342 65.5336 2.64336C65.0084 2.34722 64.3117 2.19916 63.4433 2.19916H60.0427V16.699H58.1084Z"
                            fill="white" data-astro-cid-sz7xmlte=""></path>
                        <path
                            d="M171.163 25.9839V23.9117H176.868V16.0371L184.693 14.2964V23.9117H196.511V25.9839H184.693V51.1825C184.747 55.327 186.16 57.4546 188.931 57.5651C191.648 57.5098 193.604 55.0231 194.8 50.105L197 50.5194C196.837 51.4036 196.62 52.2601 196.348 53.089C194.827 57.7309 191.757 60.0518 187.138 60.0518C186.704 60.0518 186.242 60.0242 185.753 59.9689C179.83 59.4163 176.868 55.5205 176.868 48.2814V25.9839H171.163Z"
                            fill="white" data-astro-cid-sz7xmlte=""></path>
                        <path
                            d="M161.79 59.9682C157.715 59.9129 155.269 57.4262 154.454 52.5081C154.02 53.6133 153.395 54.6632 152.58 55.6579C150.08 58.5314 146.766 59.9682 142.636 59.9682C140.951 59.9682 139.403 59.6919 137.99 59.1393C134.241 57.6473 132.366 54.6909 132.366 50.27C132.366 49.4411 132.448 48.6399 132.611 47.8662C133.969 42.0087 141.169 38.997 154.21 38.8312V33.5262C154.155 27.8344 151.928 24.9333 147.526 24.8227C146.44 24.8227 145.516 25.0162 144.755 25.403C143.723 26.0108 142.853 27.42 142.147 29.6304C141.984 30.183 141.848 30.5974 141.739 30.8737C141.087 32.6973 139.919 33.6091 138.235 33.6091C137.8 33.6091 137.365 33.5538 136.931 33.4433C135.3 32.946 134.485 31.8132 134.485 30.0448C134.485 29.1054 134.784 28.166 135.382 27.2266C137.392 24.2425 141.685 22.7505 148.26 22.7505C157.334 22.8057 161.926 27.0884 162.034 35.5985V53.0054C162.089 55.7132 162.768 57.1223 164.072 57.2328C165.756 57.1776 166.789 55.1882 167.169 51.2647L169.288 51.3476C169.234 52.6186 169.071 53.7514 168.799 54.7461C167.93 58.2275 165.593 59.9682 161.79 59.9682ZM145.978 56.5697C146.793 56.5697 147.635 56.3763 148.504 55.9895C151.384 54.7185 153.286 52.1489 154.21 48.2807V41.0692C151.004 41.1245 148.396 41.4008 146.385 41.8981C142.473 42.8928 140.517 45.269 140.517 49.0267C140.517 49.8003 140.571 50.5187 140.68 51.1818C141.223 54.7737 142.989 56.5697 145.978 56.5697Z"
                            fill="white" data-astro-cid-sz7xmlte=""></path>
                        <path
                            d="M125.928 57.067C126.308 57.067 126.634 57.0947 126.906 57.1499C127.612 57.2605 127.965 57.9236 127.965 59.1393H108.648V57.067C110.007 57.067 111.066 56.9841 111.827 56.8184C113.566 56.321 114.435 54.829 114.435 52.3423V25.8174H108.648V23.7452H122.26V57.067H125.928ZM123.156 12.1405C123.156 12.9694 122.993 13.7431 122.667 14.4615C121.744 16.3403 120.195 17.2797 118.022 17.2797C117.261 17.2797 116.527 17.114 115.821 16.7824C113.919 15.8982 112.968 14.3509 112.968 12.1405C112.968 11.3116 113.158 10.5104 113.539 9.73672C114.463 7.85788 115.957 6.91846 118.022 6.91846C118.837 6.91846 119.625 7.11187 120.385 7.49869C122.233 8.49337 123.156 10.0407 123.156 12.1405Z"
                            fill="white" data-astro-cid-sz7xmlte=""></path>
                        <path
                            d="M67.4077 25.8179H61.7838L71.1569 52.7572L77.3514 33.3609L74.0912 23.7456H87.8656V25.8179H82.4862L91.4519 52.6743L99.9285 25.8179H94.4676V23.7456H106.367C106.367 24.0772 106.34 24.3811 106.286 24.6574C106.123 25.431 105.498 25.8179 104.411 25.8179C104.14 25.8179 103.868 25.8455 103.596 25.9008C102.727 26.0665 102.02 26.9507 101.477 28.5532L91.4519 59.5542H89.5772C88.5992 59.5542 87.8113 59.416 87.2136 59.1397C86.3442 58.6424 85.3661 56.8188 84.2794 53.669L78.574 36.9252L71.32 59.5542H69.2008C68.3314 59.5542 67.625 59.4437 67.0817 59.2226C65.9406 58.7253 64.7995 56.8741 63.6584 53.669L53.7147 25.8179H50.21V23.7456H67.4077V25.8179Z"
                            fill="white" data-astro-cid-sz7xmlte=""></path>
                        <path
                            d="M21.763 59.1389H0.000976562V56.9838H6.52144V11.5599H0.000976562V9.40479H21.763V11.5599H15.2426V33.6087L38.9607 11.5599H32.4403V9.40479H47.2743C47.2743 9.68109 47.2472 9.95739 47.1928 10.2337C47.0841 11.1178 46.4049 11.5599 45.1552 11.5599C44.6661 11.5599 44.1771 11.6152 43.6881 11.7257C42.7643 12.002 41.1614 13.1625 38.8792 15.2071L25.2678 28.0551L45.9702 56.9838H47.6003C47.872 56.9838 48.1437 57.0114 48.4154 57.0667C49.2848 57.2324 49.7195 57.9232 49.7195 59.1389H36.6786L18.9103 34.0232L15.2426 37.4217V56.9838H19.6439C19.9156 56.9838 20.1872 57.0114 20.4589 57.0667C21.3283 57.2324 21.763 57.9232 21.763 59.1389Z"
                            fill="white" data-astro-cid-sz7xmlte=""></path>
                  </svg> 
                </div>
            </div>
            <div class="contact-wrapper" data-astro-cid-sz7xmlte="">
                <h3 data-astro-cid-sz7xmlte="">{copy.footer.help}</h3>
                <div class="contact-wrapper-2-columns" data-astro-cid-sz7xmlte=""> 
                  <a href="tel:+48501744994"  class="phone" data-astro-cid-sz7xmlte=""> 
                        <svg xmlns="http://www.w3.org/2000/svg"
                            width="42" height="42" viewBox="0 0 42 42" fill="none" data-astro-cid-sz7xmlte="">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0 6C0 4.4087 0.632141 2.88258 1.75736 1.75736C2.88258 0.632141 4.4087 0 6 0H8.744C10.464 0 11.964 1.172 12.382 2.84L14.592 11.686C14.7711 12.402 14.7349 13.1549 14.488 13.8504C14.2411 14.546 13.7945 15.1532 13.204 15.596L10.618 17.536C10.348 17.738 10.29 18.034 10.366 18.24C11.4948 21.3097 13.2772 24.0974 15.5899 26.4101C17.9026 28.7228 20.6903 30.5052 23.76 31.634C23.966 31.71 24.26 31.652 24.464 31.382L26.404 28.796C26.8468 28.2055 27.454 27.7589 28.1496 27.512C28.8451 27.2651 29.598 27.2289 30.314 27.408L39.16 29.618C40.828 30.036 42 31.536 42 33.258V36C42 37.5913 41.3679 39.1174 40.2426 40.2426C39.1174 41.3679 37.5913 42 36 42H31.5C14.104 42 0 27.896 0 10.5V6Z"
                                fill="#8CAE6B" data-astro-cid-sz7xmlte=""></path>
                        </svg> 
                        <span data-astro-cid-sz7xmlte="">
                            +48 501 744 994
                        </span> </a> <a href="mailto:panikwiat@gmail.com" class="phone mail" data-astro-cid-sz7xmlte="">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none"
                            xmlns="http://www.w3.org/2000/svg" data-astro-cid-sz7xmlte="">
                            <g clip-path="url(#clip0_437_48)" data-astro-cid-sz7xmlte="">
                                <path
                                    d="M47.5774 9.53613L33.02 23.9998L47.5774 38.4634C47.8406 37.9134 48.0002 37.3054 48.0002 36.656V11.3435C48.0002 10.6941 47.8406 10.0862 47.5774 9.53613Z"
                                    fill="#8CAE6B" data-astro-cid-sz7xmlte=""></path>
                                <path
                                    d="M43.781 7.125H4.21854C3.56913 7.125 2.96116 7.28466 2.41113 7.54781L21.017 26.06C22.6622 27.7051 25.3374 27.7051 26.9825 26.06L45.5884 7.54781C45.0384 7.28466 44.4304 7.125 43.781 7.125Z"
                                    fill="#8CAE6B" data-astro-cid-sz7xmlte=""></path>
                                <path
                                    d="M0.422813 9.53613C0.159656 10.0862 0 10.6941 0 11.3435V36.656C0 37.3054 0.159656 37.9135 0.422813 38.4634L14.9802 23.9998L0.422813 9.53613Z"
                                    fill="#8CAE6B" data-astro-cid-sz7xmlte=""></path>
                                <path
                                    d="M31.031 25.9888L28.9711 28.0487C26.2299 30.7899 21.7696 30.7899 19.0284 28.0487L16.9685 25.9888L2.41113 40.4524C2.96116 40.7156 3.56913 40.8752 4.21854 40.8752H43.781C44.4304 40.8752 45.0384 40.7156 45.5884 40.4524L31.031 25.9888Z"
                                    fill="#8CAE6B" data-astro-cid-sz7xmlte=""></path>
                            </g>
                            <defs data-astro-cid-sz7xmlte="">
                                <clipPath id="clip0_437_48" data-astro-cid-sz7xmlte="">
                                    <rect width="48" height="48" fill="white" data-astro-cid-sz7xmlte="">
                                    </rect>
                                </clipPath>
                            </defs>
                        </svg> 
                        <span data-astro-cid-sz7xmlte="">
                            panikwiat@gmail.com
                        </span> 
                  </a> 
                </div>
                <div class="wrapper-contact-links" data-astro-cid-sz7xmlte="">
                    {
                        footerLinks.map((l) => (
                            <a class="menu-link mx-2 text-sm" href={l.href} data-astro-cid-3ef6ksr2="" data-astro-cid-sz7xmlte="">
                                {l.label}
                                <span data-astro-cid-3ef6ksr2="" data-astro-cid-sz7xmlte="">{l.sub}</span>
                            </a>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="copyright" data-astro-cid-sz7xmlte="">
    <div class="container" data-astro-cid-sz7xmlte="">
        <p data-astro-cid-sz7xmlte="">{copy.footer.copyright}</p>
    </div>
</section>
